DINARI_API_KEY_ID=your-dinari-api-key-id
DINARI_API_SECRET_KEY=-your-dinari-api-secret-key
SIGNING_PRIVATE_KEY=your-signing-private-key
DINARI_ACCOUNT_ID_MANAGED=your-managed-account-id
DINARI_ACCOUNT_ID_SELF_MANAGED_VAULT=your-self-managed-vault-id
DINARI_ACCOUNT_ID_SELF_MANAGED_WALLET=your-self-managed-wallet-id